
#admin-page {
    & > header,
    & > footer {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    & > footer {
        bottom: 0;
    }

    .main-content {
        background-color: $gray-100;

        .sidebar-column .nav-item i {
            min-width: 1em;
        }

        main {
            padding: $header-height 1em $footer-height 1em;
            z-index: 0;
        }
    }
}